//! **************************************************************************
// Written by: Map P.20131013 on Fri May 05 21:58:28 2023
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

